.page.theme_dark {
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --slogan-font-color: #DB00FF;
  --decoration-color: #FF0070;
  --link-decoration-color: #F1B2CE;
  --accent-color: #FF0070;
  --outline-color-translucent: #FF007066;
  --main-title-color: #000028;
  --main-text-color: #F1B2CE;
  --section-title-text-color: #FF0070;
  --subtitle-text-color: #000028;
  --button-text-color: #FF0070;
  --decoration-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --background-image: url("../images/cover-image-dark.png");
    --slogan-font-color: #DB00FF;
    --decoration-color: #FF0070;
    --link-decoration-color: #F1B2CE;
    --accent-color: #FF0070;
    --outline-color-translucent: #FF007066;
    --main-title-color: #000028;
    --main-text-color: #F1B2CE;
    --section-title-text-color: #FF0070;
    --subtitle-text-color: #000028;
    --button-text-color: #FF0070;
    --decoration-visibility: visible;
  }
}