.page.theme_light {
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --slogan-font-color: #FFC2E6;
  --decoration-color: #353430;
  --accent-color: #FF8DCB;
  --outline-color-translucent: #32312D66;
  --main-text-color: #353430;
  --main-title-color: var(--main-text-color);
  --section-title-text-color: var(--main-text-color);
  --subtitle-text-color: var(--main-text-color);
}