.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', 'Consolas', 'Segoe UI', sans-serif;
  container-type: inline-size;
}

.header {
  min-block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: var(--margin-content);
  position: relative;
  max-inline-size: 1440px;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: var(--border-width) var(--decoration-color) solid;
  border-block-start: var(--border-width) var(--decoration-color) solid;
  inset-inline-end: var(--decor-indent);
  margin-block-start: var(--decor-indent);
  position: absolute;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: var(--border-width) var(--decoration-color) solid;
  border-block-end: var(--border-width) var(--decoration-color) solid;
  inset-inline-start: var(--decor-indent);
  inset-block-end: var(--decor-indent);
  position: absolute;
}

.header__theme-menu {
  grid-column: 1 / 3;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-size-text);
}

.header__theme-menu-item {
  font-family: var(--font-family);
}

.header__theme-menu-button {
  appearance: none;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  inline-size: 70px;
  color: var(--button-text-color);
  cursor: pointer;
  padding-block-end: 2px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px var(--decoration-color) solid;
}

.header__theme-menu-button:hover {
  outline: var(--outline-width) var(--outline-color-translucent) solid;
}

.header__theme-menu-button_active {
  border: var(--outline-width) var(--decoration-color) solid;
  pointer-events: none;
}

.header__slogan {
  font-family: inherit;
  font-size: var(--font-size-slogan);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--slogan-font-color);
  line-height: 130px;
  grid-column: 1 / 3;
}

.header__title_container {
  grid-column: 2/3;
  align-self: center;
  margin-inline-end: 20px;
  margin-block-start: -20px;
}

.header__title {
  font-size: var(--font-size-text);
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 23.4px;
}

.header__dark-theme-decoration {
  visibility: var(--decoration-visibility);
}

.title-decor {
  background-color: var(--accent-color);
}

.a_link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
}

.a_link:hover {
  border-bottom: var(--border-width) var(--decoration-color) solid;
}

.a_link:focus {
  outline: none;
}

.a_link:focus-visible {
  outline: var(--border-width) var(--outline-color-translucent) solid;
}

.article {
  line-height: 23.38px;
}

.article-title {
  font-size: var(--font-size-subtitle);
  color: var(--subtitle-text-color);
}

.article-text {
  font-size: var(--font-size-text);
  margin-block-start: 10px;
  color: var(--main-text-color);
}

.section {
  display: grid;
  gap: 20px;
  padding-inline: 20px;
  font-size: var(--font-size-text);
  max-inline-size: 1440px;
}

.section:not(:last-child) {
  margin-block-end: 80px;
}

.section-title {
  font-size: var(--font-size-subtitle);
  color: var(--section-title-text-color);
}

.section__hard-to-concentrate {
  grid-template-columns: calc(34% - 20px) 2fr;
}

.section__hard-to-concentrate__title {
  grid-row: 1 / 3;
}

.section__concentrate-how {
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.section__concentrate-how__title {
  grid-column: 1 / 2;
}

.section__concentrate-how__articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  gap: 20px;
}

.section-advices {
  grid-template-columns: calc(34% - 20px) 2fr;
}

.list-item__title {
  margin-block-start: 20px;
  font-size: var(--font-size-text);
  color: var(--subtitle-text-color);
  font-weight: normal;
}

.section-gallery__title {
  grid-column: 1/4;
  color: var(--subtitle-text-color);
}

.section-gallery__image {
  display: block;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-gallery__sunset-image {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.section-gallery__tape-image {
  grid-row: 3 / 5;
}

.section-gallery__books-image {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.section-gallery__ice-cream-image {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.section-gallery__street-image {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.footer {
  display: grid;
  min-block-size: 100vh;
  margin-block-start: var(--margin-content);
  max-inline-size: 1440px;
  position: relative;
}

.footer__slogan {
  font-family: inherit;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--slogan-font-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: auto;
}

/* разрешение планшета */
@media (width <=768px) {

  .header__theme-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-block-start: 70px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-inline-end: 20px;
    margin-block-end: 53px;
  }

  @container (inline-size < 600px) {
    .header__title_container {
      grid-column: 1 / 3;
      margin-inline-start: 10px;
    }
  }

  @container (inline-size < 580px) {
    .section {
      display: flex;
      flex-direction: column;
      margin-inline: 10px;
    }
  }

  .header__slogan {
    line-height: 99px;
  }

  .section__hard-to-concentrate {
    grid-template-columns: 1fr 2fr;
  }

  .section__concentrate-how__articles-container {
    display: flex;
    flex-direction: column;
  }

  .section-advices {
    grid-template-columns: 1fr 2fr;
  }
}

/* разрешение телефона */
@media (width <=375px) {

  .header,
  .footer {
    --margin-content: 40px;
  }

  .header__theme-menu {
    margin-block-start: 60px;
  }

  .header__theme-menu-list {
    margin-inline-end: 10px;
  }

  .header__slogan {
    --font-size-slogan: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 96px;
    margin-inline-start: 10px;
  }

  .header__title_container {
    grid-column: 1 / 3;
    margin-inline: 10px;
    padding-block-start: 5px;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    --decor-indent: 10px;
  }

  .section:not(:last-child) {
    margin-block-end: 50px;
  }

  .section-gallery {
    gap: 10px;
  }
}