:root {
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --slogan-font-color: #FFC2E6;
  --decoration-color: #353430;
  --link-decoration-color: var(--decoration-color);
  --accent-color: #FF8DCB;
  --outline-color-translucent: #32312D66;
  --main-text-color: #353430;
  --main-title-color: var(--main-text-color);
  --section-title-text-color: var(--main-text-color);
  --subtitle-text-color: var(--main-text-color);
  --button-text-color:var(--main-text-color);

  --font-size-text: 18px;
  --font-size-slogan: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-subtitle: var(--font-size-text);
  
  --margin-content: 60px;
  --decor-indent: 20px;
  --border-width: 1px;
  --outline-width: var(--border-width);

  --decoration-visibility: hidden;
}